
.overall-container{
    margin: 10px;
}

.request-header{
    padding: 10px;
    background-color: #5ebb20;

}

.request-table{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.request-header h1{
    color: snow;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.buttons{
    margin: 5px;
    padding: 3px;
}

.No-data h1{
    text-transform: uppercase;
    transform: translateY(100px);
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
