/*Style for Dashboard*/

.overall-container{
    margin: 10px;
}

.title-header{
    padding: 10px;
    background-color: #8BDB61;
}

.title-header h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
}

.title-header p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.student-info-container{
    margin: 10px 5px 5px;

}

.edit-button{
    margin: 10px;
}

.edit-button button{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info-title{
    margin: 5px;
    padding-left: 2px;
}

.info-title h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.user-table tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.user-info{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}
