/*Style for Dashboard*/

.overall-container{
    margin: 10px;
}

.title-header{
    padding: 10px;
    background-color: #8BDB61;
}

.table-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-header h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
}

.title-header p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.user-table{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.user-table:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.user-button{
    color: dodgerblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding: 0  ;
    transition: 0.3s;
}

.user-button:hover{
    text-decoration: none;
    color: darkgreen;
}

.user-table tbody tr td{

}
